<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.northsouth.plasmabank">

<!--  Application uses those permission to execute properly  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <!--  Application application permission ends -->

<!--    Application notification requires one or more channels, that channel is added here as a meta.  here this application uses one channel, the default one -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="fcm_default_channel" />
<!--  Notification channel declaration ends  -->

<!--    application contains details like how main activity app has, what is their name, which theme the have kin of details     -->
<!--    not only that it has the details of services details    -->
<!--    and has app name, logo details      -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--    this service is for firebase database notification details, export false means no other application can access this service like facebook messenger does not require re authentication         -->
        <service
            android:name=".utils.services.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        firebase services ends      -->

        <activity
            android:name=".views.EnterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".views.registration.CompleteRegistrationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".views.registration.RegistrationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />

<!--    windowSoftInputMode used so that keyboard not shown on start      -->
        <activity
            android:name=".views.registration.TitleRegistrationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".views.auth.AuthenticationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".views.HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".views.auth.VerificationActivity"
            android:label="@string/title_activity_verification"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />

<!--        application start with this activity    -->
        <activity
            android:name=".views.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>